/* Estilo para o corpo da página */
body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Estilo para o cabeçalho */
header {
    background-color: var(--header-background);
    color: var(--header-text);
    padding: 5px 0;
    text-align: center;
}

/* Estilo para as seções */
section {
    margin: 20px;
    padding: 20px;
    background-color: var(--section-background);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(35, 25, 82, 0.1);
}

/* Estilo para os títulos das seções */
section h2, section h3 {
    color: var(--text-color);
}

/* Estilo para a lista de aulas */
.aulas ul {
    list-style-type: none;
    padding: 0;
}

.aulas li {
    background-color: var(--background-color);
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
}

/* Estilo para a seção de notícias */
.noticias p {
    font-style: italic;
}

/* Estilo para os selects */
.container select {
    padding: 9px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--select-background);
    color: var(--select-text);
    cursor: pointer;
}

/* Estilo para a logo Inatel */
.svg_logo_inatel {
    width: 150px;
    height: auto; /* Mantém a proporção */
    color: blue; /* Define a cor principal */
}

/* Tema Light */
:root {
    --primary-color: #3544c7; /* Azul */
    --secondary-color: #F2F2F2; /* Cor clara para detalhes */
    --text-color: #161313; /* Texto escuro */
    --background-color: #FFFFFF; /* Fundo branco */
    --header-background: #F8F9FA; /* Cor de fundo do cabeçalho */
    --header-text: #161313; /* Cor do texto do cabeçalho */
    --section-background: #FFFFFF; /* Fundo das seções */
    --button-background: #3545cf; /* Azul para botões */
    --button-text: white; /* Texto branco nos botões */
    --select-background: whitesmoke; /* Cor de fundo para o select */
    --select-text: black; /* Cor do texto para o select */
}

/* Tema Dark */
[data-theme="dark"] {
    --primary-color: #04132a; /* Azul escuro */
    --secondary-color: #0C1526; /* Preto/azul escuro para detalhes */
    --text-color: #FFFFFF; /* Texto branco */
    --background-color: #232734; /* Fundo azul escuro */
    --header-background: #061224; /* Cor de fundo do cabeçalho */
    --header-text: white; /* Texto branco no cabeçalho */
    --section-background: #1e212b; /* Fundo escuro nas seções */
    --button-background: #172c49; /* Azul escuro para botões */
    --button-text: white; /* Texto branco nos botões */
    --select-background: #333333; /* Fundo escuro para select */
    --select-text: white; /* Texto branco para select */
}

/* Estilo do modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 46, 46, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteúdo do modal */
.modal-content {
    background: darkblue;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Botões dentro do modal */
.theme-option {
    margin: 10px;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

/* Estilizar os temas */
.theme-option[data-theme="light"] {
    background: #f8f9fa;
    color: #333;
}

.theme-option[data-theme="dark"] {
    background: var(--background-color);
    color: var(--primary-color);
}

/* Estilo dos textos */
h4, p {
    font-family: "Arimo", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--text-color);
    padding-left: 5px;
    padding-right: 5px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos do carrossel */
.carousel-container {
    width: 100%; /* Ajuste conforme necessário */
    max-width: 900px; /* Limita o tamanho máximo */
    margin: auto; /* Centraliza o carrossel */
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 100%;
    height: 350px; /* Ajuste a altura desejada */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.card img {
    width: 100%;
    height: 300px; /* Ajuste a altura da imagem */
    object-fit: cover;
    border-radius: 8px;
}

.info {
    padding: 10px;
}

.icon {
    font-size: 30px; /* Tamanho do ícone */
    color: var(--text-color); /* Cor do ícone */
    cursor: pointer; /* Mostra que o ícone é clicável */
    margin-left: 0 10px;
}

/* Botões de navegação do carrossel */
.container button {
    padding: 9px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--select-background);
    color: var(--select-text);
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
